@import '../../styles/_variables.scss';

.project-carousel {
  display: flex;
  align-items: center;

  .project {
    position: absolute;
    width: 100%;
    min-width: 1300px;
    height: 640px;
    margin: 20px auto;
    padding: 80px;
    text-align: center;
    color: $color-white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__prev, &__next {
      position: absolute;
      width: 600px;
      height: 400px;
      z-index: -1;
    }

    &__content {
      background: rgb(0,0,0);
      background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.7) 30%, rgba(0,0,0,0.6) 70%, rgba(0,0,0,0) 100%);
      padding-bottom: 80px;

      &__title {
        padding-top: 20px;
        border-top: 1px solid $color-white;
        font-weight: 200;
        text-transform: uppercase;
        user-select: none;
      }

      &__description {
        width: 60%;
        margin: 0 auto;
        margin-bottom: 16px;
        font-weight: 100;
        user-select: none;
      }

      &__button {
        background: $color-theme;
        margin: 16px auto;
        padding: 6px 16px 4px 16px;
        font-size: 12px;
      }

      &__navigation {
        display: flex;
        justify-content: space-between;
        opacity: 0.4;

        &__arrow {
          cursor: pointer;
          width: 100px;
          height: 100px;
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  .project-carousel {
    width: calc(100vw - (100vw - 100%));

    .project {
      width: 100%;
      min-width: 900px;
      height: 480px;

      &__prev, &__next {
        height: 360px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .project-carousel {
    .project {
      min-width: 680px;

      &__prev, &__next {
        display: none;
      }
    }
  }
}

@media (max-width: 768px) {
  .project-carousel {
    width: 100%;

    .project {
      min-width: 320px;
      padding: 20px;

      &__content {
        &__description {
          width: 90%;
        }
      }
    }
  }
}