.technologies {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 40px auto 0 auto;

  &__icon {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 1024px) {
  .technologies {
    margin-top: 24px;

    &__icon {
      width: 64px;
      height: 64px;
    }
  }
}