@import '../../styles/_variables';

.main-menu {
  display: inline-block;
  height: 100px;
  line-height: 100px;

  &--mobile {
    .main-menu {
      &__icon-wrapper {
        width: 40px;
        height: 40px;
      }

      &__icon {
        line-height: 160px;
        font-size: 35px;
      }

      &__items {
        display: hidden;
        position: absolute;
        width: 100%;
        left: 0;
        height: 0;
        top: 60px;
        z-index: 1;
        margin-left: auto;
        margin-right: auto;
        background: $color-white-alternate;
        text-align: center;
        opacity: 1;
        transition: all .5s ease-out;

        &--active {
          display: block;
          height: 150px;
        }
      }

      &__item {
        opacity: 0;
        top: -100px;

        &--active {
          display: block;
          width: 60%;
          margin: 4px auto;
          padding: 8px 0;
          border-bottom: 1px solid $color-gray;
          opacity: 1;
          transform: translateY(0);
          transition: all 1s ease-out .2s;

          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }

  &__items {
    display: inline-block;
  }

  &__item {
    display: inline-block;
    padding: 0 24px;

    &:hover {
      color: $color-theme;
    }
  }
}

@media (max-width: 1024px) {
  .main-menu {
    line-height: 125px;
  }
}