@import '../../styles/_variables';

.main-menu {
  display: inline-block;
  height: 100px;
  line-height: 100px;

  &--mobile {
    border: 1px solid red;
  }

  &__icon-wrapper {
    width: 40px;
    height: 40px;
  }

  &__icon {
    line-height: 160px;
    font-size: 35px;
  }

  &__items {
    display: inline-block;
  }

  &__item {
    display: inline-block;
    padding: 0 24px;

    &:hover {
      color: $color-theme;
    }
  }
}

@media (max-width: 1024px) {
  .main-menu {
    line-height: 125px;
  }
}