.projects-section {
  width: calc(100vw - (100vw - 100%));
  margin-left: 0;
  margin-right: 0;
}

@media (max-width: 1440px) {
  .projects-section {
    margin-left: auto;
    margin-right: auto;
  }
}