@import '../../styles/variables.scss';

.contact-form__notification {
    position: fixed;
    display: none;
    bottom: 40px;
    width: 1300px;
    left: 50%;
    transform: translateX(-50%);
    height: 40px;
    margin: 0 auto;
    border: 2px solid;
    border-radius: 15px;

    &--none {
        display: none;
    }

    &--success {
        display: block;
        border-color: $color-success;
        background: rgba($color-success, 0.8);
    }

    &--fail {
        display: block;
        border-color: $color-fail;
        background: rgba($color-fail, 0.8);
    }

    &__message {
        text-align: center;
        line-height: 40px;
        color: $color-white;
        font-weight: 700;
    }
}

@media (max-width: 1440px) {
    .contact-form__notification {
        width: 900px;
    }
}
  
@media (max-width: 1024px) {
    .contact-form__notification {
        width: 680px;
    }
}
  
@media (max-width: 768px) {
    .contact-form__notification {
        width: 100%;
        border-radius: 0;
        bottom: 0;
    }
}
  