@import '_variables.scss';

.main-header {
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100px;
  margin: 0;
  padding: 0 310px;
  background: $color-white;
  font-family: 'Josefin Sans';

  &__logo {
    display: inline-block;
    margin: 0;

    &--accent {
      color: $color-theme;
    }
  }
}