@import '_variables.scss';

.main-header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100vw;
  height: 100px;
  margin: 0;
  background: $color-white;
  font-family: 'Josefin Sans';

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1300px;
  }

  &__logo {
    display: inline-block;
    margin: 0;

    &--accent {
      color: $color-theme;
    }
  }
}