@import '_variables.scss';

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100% - 620px);
  max-width: 1920px;
  min-width: 1300px;
  height: 100vh;
  margin: 0 auto;

  &__headline {
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
  }

  &__text {
    text-align: center;
    width: 50%;
    min-width: 300px;
    margin: 20px auto;
  }
}

@media (max-width: 1440px) {
  .section {
    max-width: 1440px;
    min-width: 900px;
    height: auto;
    margin-left: auto;
    margin-right: auto;

    &__headline {
      margin-top: 100px;
    }
  }
}

@media (max-width: 1024px) {
  .section {
    max-width: 1024px;
    min-width: 680px;
  }
}

@media (max-width: 768px) {
  .section {
    width: 90%;
    max-width: 680px;
    min-width: 320px;
  }
}
