@import 'src/styles/variables';

.hero-image {
  width: calc(100vw - (100vw - 100%));
  height: 100vh;
  overflow: hidden;

  &__content {
    position: relative;
    max-width: 1300px;
    margin: 40vh auto 0 auto;

    &__element {
      display: inline;
    }

    @keyframes slide-in {
      from {
        left: -1000px;
        opacity: 0.2;
      }
      to {
        left: 0;
        opacity: 1;
      }
    }

    &__element-wrapper {
      display: block;
      position: relative;
      width: 60%;
      min-width: 800px;
      margin: 24px 0;
      left: -1000px;
      opacity: 0.2;
      animation-name: slide-in;
      animation-timing-function: ease-out;
      animation-duration: 3s;
      animation-fill-mode: forwards;

      &--upper {
        margin-left: 8px;
      }

      &--middle {
        animation-delay: 0.2s;
      }

      &--bottom {
        animation-delay: 0.5s;
      }
    }

    &__headline {
      background-color: $color-white;
      box-shadow:
        16px 0 0 $color-white,
        -16px 0 0 $color-white;
      padding: 8px 0;
      line-height: 70px;
    }

    &__button {
      background-color: $color-theme;
      box-shadow: 0 0 0 8px $color-theme;
      font-size: 20px;
      color: $color-white;
      text-transform: uppercase;
    }

    &__paragraph {
      margin-left: -8px;
      color: $color-white;
      font-weight: 300;
    }
  }

  @media (max-width: 1440px) {
    &__content {
      max-width: 900px;
    }
  }

  @media (max-width: 1024px) {
    &__content {
      max-width: 680px;
      min-width: 680px;

      &__element-wrapper {
        min-width: 680px;
      }
    }
  }

  &__scroll {
    position: absolute;
    bottom: 24px;
    width: 100%;
    text-align: center;
    font-size: 120px;
    color: $color-white;
    opacity: .3;
  }
}

@media (max-width: 768px) {
  .hero-image {
    height: auto;
    min-height: 100vh;

    &__content {
      width: 100%;
      max-width: 680px;
      min-width: 320px;
      margin-top: 30vh;

      &__element-wrapper {
        min-width: 320px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }

      &__button {
        font-size: 15px;
      }
    }
  }
}