@import 'src/styles/variables';

.main-header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100vw;
  height: 100px;
  margin: 0;
  background: $color-white;
  font-family: 'Josefin Sans', 'sans-serif';

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
  }

  &__logo {
    display: inline-block;
    margin: 0;

    &--accent {
      color: $color-theme;
    }
  }
}