@import '../../styles/_variables.scss';

.about-section {

  &__content {
    display: flex;
    align-items: flex-start;
  }

  &__perks {
    display: inline-block;
    width: 50%;
  }

  .perk {
    display: flex;
    width: 100%;
    margin: 24px 0;

    &__icon-wrapper {
      display: inline-block;
      flex-shrink: 0;
      width: 80px;
      height: 80px;
      margin-right: 24px;
      background: $color-theme;
      border-radius: 50%;
      text-align: center;

      svg {
        width: 40px;
        height: 40px;
        margin-top: calc(0.5 * (80px - 40px));
        color: $color-white;
      }
    }

    &__content {
      display: inline-block;
    }

    &__title {
      display: inline-block;
      margin-bottom: 0;
      font-size: 24px;
      font-weight: 300;
      color: $color-theme;
      text-transform: uppercase;
    }

    &__description {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 1440px) {
  .about-section {
    &__perks {
      width: 100%;
    }

    &__content {
      flex-direction: column;
      align-items: stretch;
    }
  }
}

@media (max-width: 768px) {
  .about-section {
    .perk {
      flex-direction: column;
      align-items: center;
      margin-bottom: 40px;

      &__icon-wrapper {
        display: block;
        margin-right: 0;
        margin-bottom: 20px;
      }

      &__content {
        text-align: center;
      }
    }
  }
}