@import "../../styles/_variables.scss";

.resume {
  display: table-cell;
  vertical-align: middle;
  width: 40%;
  margin: 24px 0 24px auto;
  padding: 40px 80px;
  text-align: center;

  &__text {
    font-weight: 400;
    color: $color-white;
  }

  &__button {
    margin: 20px auto;
    width: 80%;
    padding: 8px 16px 4px 16px;
    background: $color-white;
    color: $color-black;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__social-icons {
    color: $color-white;

    &__icon {
      width: 32px;
      height: 32px;
      margin: 16px;
    }
  }
}

@media (max-width: 1440px) {
  .resume {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 60px;
  }
}

@media (max-width: 768px) {
  .resume {
    padding: 20px 40px;
  }
}
